<section>
    <h3 class="page-title">Search</h3>
    <section>
        <input type="search" id="search" placeholder="Type to filter by first/last name"/>
    </section>
        <h3 class="page-title" data-bind="text: title"> </h3>
    <section>
        <select data-bind="options: groups,  optionsText: 'name', optionsValue: 'id'" id="groups"></select>
    </section>
    <section data-bind="foreach: contacts">
        <article class="article-container-full-width">
            <div>
                <img data-bind="attr: { src: imageSource }"
                     class="img-circle avatar"/>
                Name:<span class="contact" data-bind="text: fullName"></span>
                Email: <span class="contact" data-bind="text: email"></span>
                Phone: <span class="contact" data-bind="text: phone"></span>
            </div>
        </article>
    </section>    
</section>